server:
  port: 8085
spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/ssampathraj/food-order-application/tree/main/config-repo
          search:
            paths: global,delivery
          clone:
            on:
              start: true
          default:
            label: main
management:
  endpoints:
    web:
      exposure:
        include: "*"